/* general */
.tile_btn.highlight {background: #ff9528;  color: white; font-weight: bold; text-transform: uppercase;}
.tile_btn.highlight:hover {}

/* io_list */
.io_list {display: flex; flex-wrap: wrap; background:white; padding:15px; }
.io_list { box-shadow: 0 2px 2px 0 rgba(0,0,0,.0466667), 0 3px 1px -2px rgba(0,0,0,.0666667), 0 1px 5px 0 rgba(0,0,0,.04); border-radius: 8px;}

/* io_elem */
.io_elem {display: inline-flex; align-items: center; margin-right: 10px; padding:5px 10px; font-size: 12px; border-radius: 50px; border:none; background:none;}
.io_elem:hover { border:none; }
.io_elem .notconstant {border: 1px solid #d43535; border-radius: 11px; color: #d43535; padding: 2px 0px; width: 22px; display: inline-flex; align-items: center; justify-content: center; text-align: center; font-size: 11px; margin-left: 5px;}
.io_elem .type_event {border: 1px solid #c778ff; border-radius: 11px; color: #c778ff; padding: 2px 0px; width: 22px; display: inline-flex; align-items: center; justify-content: center; text-align: center; font-size: 11px; margin-left: 5px;}
.count {color: #bdbdbd; font-weight: normal;}

/* abi_groups */
.abi_groups {padding-bottom: 10px; margin-bottom: 20px; border-bottom: 1px solid #ececec;}

/* filterbar */
.filterbar {margin-bottom: 20px; }
.filterbar .btn {margin-right: 5px; transition: none;}
.filterbar .ghost_btn.mini{border:none; border-bottom: 2px solid #c778ff00;  color: #656565;}
.filterbar .ghost_btn.mini{padding:4px 8px; font-weight: 400; border-width:1px;}
.filterbar .filter_btn.active { font-weight: bold; border-bottom: 2px solid; color: #ff9528;}

/* backtracker bar */
.backtracker_bar {font-size: 12px; color: rgba(0,0,0,0.35); margin:10px 0; font-style: italic;}
.backtracker_bar .elem {margin-right:15px;}
