<!-- backtracker bar -->
<div class="backtracker_bar">
  {{project.name}} > {{contract.name}}
</div>

<!-- titlebar -->
<div class="titlebar">
  <a routerLink="/main/{{project.url}}" class="back_btn">
    <
  </a>
  <div class="mm_project_icon">
    <img src="{{project.img}}">
  </div>
  <h1>{{contract.name}}</h1>
</div>

<!-- abi groups -->
<div class="abi_groups">
  <app-debug [data]="contract_abi"></app-debug>
  <a class="io_elem tile_btn highlight" routerLink="stats">Stats</a>
</div>

<!-- filterbar -->
<div class="filterbar">
  <div class="ghost_btn mini btn filter_btn active"
       (click)="filterByZero()"
       [ngClass]="{'active' : checkActiveFiler('')}">
    All Data
  </div>
  <div class="ghost_btn mini filter_btn btn"
       (click)="filterByAddress()"
       [ngClass]="{'active' : checkActiveFiler('address')}">
    User Data
  </div>
  <div class="ghost_btn mini filter_btn btn"
       (click)="filterByToken()"
       [ngClass]="{'active' : checkActiveFiler('token')}">
    Token Data
  </div>
  <div class="ghost_btn mini filter_btn btn"
       (click)="filterByEvent()"
       [ngClass]="{'active' : checkActiveFiler('event')}">
    Event
  </div>
  <div class="ghost_btn mini filter_btn btn"
       (click)="filterByNonConstant()"
       [ngClass]="{'active' : checkActiveFiler('nonconstant')}">
    Non Constant
  </div>
</div>



<!-- abi function list -->
<h2>ABI Functions <span class="count">({{contract_abi.length}})</span></h2>
<div class="io_list">
  <a class="io_elem tile_btn"
     *ngFor="let io of contract_abi; let i = index"
     routerLink="fn/{{io.id}}"
     [ngClass]="{'notconstant' : io.constant==false }">
    {{io.name}}
    <div *ngIf="io.constant == false" class="notconstant">M</div>
    <div *ngIf="io.type == 'event'" class="type_event">E</div>
  </a>
</div>
