<div class="headbar">
  <div class="center">
    <div class="mainnav" *ngIf="true">
      <div class="home">
        <div class="menuicon" (click)="toggleMenu($event)">
          <span class="title">MENU</span>
          <ul class="menu">
            <li><a routerLink="/projects">Projects</a></li>
            <li><a routerLink="/blockExplorer">Block Explorer</a></li>
          </ul>
        </div>
        <div routerLink="/" class="elem home_btn btn">ETH-API</div>
      </div>

      <div class="elem user">
        {{currentAddress}}
      </div>
    </div>
  </div>
</div>
