/**
 * <form-io> component
 * Form field input / output
 */
.form_io { box-shadow: 0 2px 10px #00000030; padding: 30px; margin-bottom: 30px; border-radius: 8px;}
.form_io h2 {font-weight: normal; }
.form_io.notconstant h2 {color: #fd4848;}
.form_io.type_event h2 {color: #478bec;}
.form_io .example-full-width {width:100%; max-width:400px;}
/* btn */
.api_btn {}
.api_btn.loading { background:grey; color:rgba(0,0,0,0.9); cursor: default;}

.description {font-size: 12px; color: grey; margin-bottom: 20px;}
.loop_check {margin:30px 0; color: grey;}
.loop_check label {cursor: pointer; user-select: none; text-transform: uppercase; color: grey; font-weight: bold;}
.loop_check input {cursor: pointer;}
