/**
 * <form-io> component
 * Form field input / output
 */
.form_io { box-shadow: 0 2px 10px #00000030; padding: 30px; margin-bottom: 30px; border-radius: 8px;}
.form_io h2 {font-weight: normal; }
.form_io.notconstant h2 {color: #fd4848;}
.form_io .example-full-width {width:100%; max-width:400px;}

.titlebar {display: flex; align-items: center; margin-bottom: 10px;}
.titlebar h1 {margin:0;}
.back_btn { background: white; margin-right: 20px; box-shadow: 0 2px 4px #00000054; width: 40px; height: 40px; font-size: 20px; display: flex; align-items: center; justify-content: center; border-radius: 50%; font-weight: normal; color: #1c92e8;}
.back_btn:hover { background: #f7f7f7; }
