<!-- event output -->
<div class="event_detail type_event card">
  <form class="my_form_io">
    <h2>{{abi_function.name}} Events <span class="count">({{eventData.length}})</span> </h2>


        <!-- event output -->
        <div class="event_interface">

          <div class="eventData">

            <!-- header data -->
            <div class="arguments header" *ngIf="eventHeaderData">
              <div class="argument id" title="Event ID">
                ID
              </div>
              <div class="argument" *ngFor="let arg of eventHeaderData" title="{{arg.key}}">
                {{arg.key}}
              </div>
              <div class="argument" title="Transaction">
                TX
              </div>
              <div class="argument time" title="Timestamp">
                Timestamp
              </div>
            </div>


            <!-- maintanance warning -->
            <div class="maintanance">
              Component not working due to web3js 1.0.0 beta bug for events.
            </div>

            <!-- no data -->
            <div class="no_data" *ngIf="!eventData.length">
              No Events yet...
            </div>

            <div class="event" *ngFor="let event of eventData; let i = index">

              <!-- arguments -->
              <div class="arguments">
                <div class="argument id" title="{{i+1}}">
                  #{{i+1}}
                </div>
                <div class="argument" *ngFor="let arg of event.args" title="{{arg.val | safeUrl}}">
                  {{arg.val | safeUrl:arg.key}}
                </div>
                <div class="argument transHash" title="{{event.transactionHash}}">
                  {{event.transactionHash}}
                </div>
                <div class="argument time" title="{{event.timestamp}}">
                  {{getTimeAgo(event.timestamp)}}
                </div>
              </div>

            </div>
          </div>
        </div>

  </form>
</div>
