<!-- event output -->
<div class="event_detail type_event card">
  <form class="my_form_io">
    <h2>{{abi_function.name}} Events <span class="count">({{eventData.length}})</span> </h2>

        <!-- event output -->
        <div class="event_interface">
          <mat-form-field class="example-full-width" *ngIf="false">
            <textarea
              matInput
              [(ngModel)]="eventLog"
              id="event_output"
              placeholder="Event Data"
              name="event_output"
              matTextareaAutosize
              matAutosizeMinRows="4"
              matAutosizeMaxRows="999999"></textarea>
          </mat-form-field>

          <div class="eventData">
            <div class="event" *ngFor="let event of eventData">
              <div class="name">
                  {{event.event}} <span class="time">{{event.timestamp}}</span>
              </div>
              <div class="transaction">
                {{event.transactionHash}}
              </div>
              <div class="arguments">
                <div class="argument" *ngFor="let arg of event.args">
                  {{arg.key}} : {{arg.val | safeUrl}}
                </div>
              </div>
            </div>
          </div>
        </div>

  </form>
</div>
