
/* titlebar */
.titlebar .contract_name {margin-left: 10px; color: grey;}

p.color {color: #1c94a9; font-size: 12px;}
a {color:grey;}

/* bb table *//
.bb_table {}
.bb_row {display: flex; border-bottom: 1px solid #e8e8e8; color:#666; padding-bottom: 10px; padding-top:10px;}
.bb_row:hover {background: #f9f9f9;}
.bb_row .bb_cell {flex: 1; overflow: hidden; word-wrap: break-word;  width:100%;}
.bb_row .key { }
.bb_row .val {}
