<!-- backtracker bar -->
<div class="backtracker_bar">
  {{project.name}}
</div>

<!-- titlebar -->
<div class="titlebar">
  <a routerLink="/main" class="back_btn"><</a>
  <div class="mm_project_icon">
    <img src="{{project.img}}">
  </div>
  <h1>{{project.name}} </h1>
</div>

<div class="contracts">
  <h2 class="subtitle">Contracts <span class="count">({{contracts.length}})</span></h2>
  <a class="contract tile_btn"
       *ngFor="let contract of contracts"
       routerLink="{{contract.url}}">
       <div class="text">
         <p class="group first">
           <span class="network {{contract.network}}"></span>
           <span class="name">{{contract.name}}</span>
         </p>
         <p class="group second">
           <span class="version">{{contract.version}}</span>
         </p>
       </div>
  </a>
</div>
