/* general */
.count {color: #bdbdbd; font-weight: normal;}

/* form io */
.form_io { box-shadow: 0 2px 10px #00000030; padding: 30px; margin-bottom: 30px; border-radius: 8px;}
.form_io h2 {font-weight: normal; }
.form_io.notconstant h2 {color: #fd4848;}
.form_io.type_event h2 {color: #478bec;}
.form_io .example-full-width {width:100%; max-width:400px;}
.description {font-size: 12px; color: grey; margin-bottom: 20px;}

/* btn */
.api_btn {}
.api_btn.loading { background:grey; color:rgba(0,0,0,0.9); cursor: default;}

/* loop checkbox */
.loop_check {margin:30px 0; padding-top: 20px; }
.loop_check label {color: #794be1cc;  cursor: pointer; user-select: none; text-transform: uppercase;  font-weight: bold;}
.loop_check input {cursor: pointer;}

/* arguments */
.arguments.header {}
.arguments.header .argument {font-weight: bold;}
.arguments {font-size: 12px; display: flex; justify-content: space-between; width:100%; border-bottom: 1px solid #ececec;}
.argument {padding-bottom: 5px; padding-top:5px; font-size: 12px;  min-width: 120px; max-width: 120px; overflow: hidden; text-overflow: ellipsis;}
.argument.address {word-break: break-all; word-wrap: break-word; overflow:auto; text-overflow: inherit; font-size: 11px;}
.argument.id {max-width: 50px; min-width: 20px;}

.partSubType {}
.partSubType.p1 .gg {content: ""; width:15px; height: 15px; border-radius: 50%; background:blue;}
.partSubType.p2 .gg {content: ""; width:15px; height: 15px; border-radius: 50%; background:orange;}
.partSubType.p3 .gg {content: ""; width:15px; height: 15px; border-radius: 50%; background:black;}
.partSubType.p4 .gg {content: ""; width:15px; height: 15px; border-radius: 50%; background:brown;}
.partSubType.p5 .gg {content: ""; width:15px; height: 15px; border-radius: 50%; background:red;}
.partSubType.p6 .gg {content: ""; width:15px; height: 15px; border-radius: 50%; background:yellow;}
.partSubType.p7 .gg {content: ""; width:15px; height: 15px; border-radius: 50%; background:green;}
.partSubType.p8 .gg {content: ""; width:15px; height: 15px; border-radius: 50%; background:pink;}
.partSubType.p9 .gg {content: ""; width:15px; height: 15px; border-radius: 50%; background:purple;}
.partSubType.p9 .gg {content: ""; width:15px; height: 15px; border-radius: 50%; background:lavender;}
.partSubType.p10 .gg {content: ""; width:15px; height: 15px; border-radius: 50%; background:grey;}

.rarity {}
.rarity.r1 .gg:after {content: "S"; width:15px; height: 15px; font-weight: bold; color:grey;}
.rarity.r2 .gg:after {content: "B"; width:15px; height: 15px; font-weight: bold; color:black;}
.rarity.r3 .gg:after {content: "G"; width:15px; height: 15px; font-weight: bold; color:gold;}
