<!-- form io -->
<div class="form_io" [ngClass]="{'notconstant':abi_function.constant==false}"
  *ngIf="abi_function.type != 'event'">
  <form class="my_form_io">
    <h2>{{abi_function.name}}()</h2>
    <div class="columns gap_big">
      <div class="column c50">
        <div *ngFor="let input of abi_function.inputs; trackBy index; let i=index;">
          <mat-form-field class="example-full-width">
            <input
              matInput
              [(ngModel)]="params[i]"
              id="{{input.name}}_{{abi_function.name}}"
              placeholder="{{input.name}} ({{input.type}})"
              name="{{input.name}}_{{abi_function.name}}"
              value="">
          </mat-form-field>
        </div>

        <div class="btn color_btn api_btn"
             (click)="clickButton()"
             [ngClass]="{'loading':loading}">
          <p *ngIf="!loading">{{abi_function.name}}</p>
          <p *ngIf="loading">loading...</p>
        </div>

        <!-- loop ui -->
        <div class="loop_check">
          <label for="loop_checkbox">Enable Loop</label>
          <input type="checkbox" name="check_loop" id="loop_checkbox" [(ngModel)]="checkLoop">
        </div>
        <div class="loopMode" *ngIf="checkLoop">
          <mat-form-field class="example-full-width">
            <input
              matInput
              [(ngModel)]="loopInterval"
              id="loop_interval"
              placeholder="Loop Interval"
              name="loop_interval">
          </mat-form-field>
          <div class="btn color_btn violet api_btn"
               (click)="clickButton()"
               [ngClass]="{'loading':loading}">
            <p *ngIf="!loading">{{abi_function.name}}</p>
            <p *ngIf="loading">loading...</p>
          </div>
        </div>

        <!-- batch ui -->
        <div class="batch_check">
          <label for="batch_checkbox">Enable Batch</label>
          <input type="checkbox" name="check_batch" id="batch_checkbox" [(ngModel)]="checkBatch">
        </div>
        <div class="batchMode" *ngIf="checkBatch">
          <mat-form-field class="example-full-width" >
            <input
              matInput
              [(ngModel)]="batchStartVal"
              id="batch_startval"
              placeholder="Start Number"
              name="batch_startval">
          </mat-form-field>
          <mat-form-field class="example-full-width" *ngIf="checkBatch">
            <input
              matInput
              [(ngModel)]="batchEndVal"
              id="batch_endval"
              placeholder="End Number"
              name="batch_endval">
          </mat-form-field>
          <div class="btn color_btn green api_btn"
               (click)="clickBatchRequest()"
               [ngClass]="{'loading':loading}">
            <p *ngIf="!loading">{{abi_function.name}}</p>
            <p *ngIf="loading">loading...</p>
          </div>
        </div>




      </div>
      <div class="column c50">
        <div class="description">
          <div
              *ngFor="let output of abi_function.outputs">
            {{output.name}} ({{output.type}})
          </div>
        </div>


        <mat-form-field class="example-full-width" *ngIf="false">
          <textarea
            [(ngModel)]="output"
            placeholder="output"
            name="output"
            id="output_{{abi_function.name}}"
            matInput
            matTextareaAutosize
            matAutosizeMinRows="2"
            matAutosizeMaxRows="20"
            value="">
          </textarea>
        </mat-form-field>

        <div class="output_field" id="output_{{abi_function.name}}" [ngClass]="{'fullscreen':fullscreenOutputFlag}">
          <div class="output_btn_bar">
            <div class="btn" (click)="clearOutput()">Clear</div>
            <div class="btn" (click)="toggleFullscreenOutput()">Fullscreen</div>
            <div class="btn" (click)="toggleTimeOutput()">Time</div>
            <div class="btn" (click)="toggleParamsOutput()">Params</div>
          </div>
          <span class="no_output" *ngIf="!outputs.length">No output yet!</span>
          <div class="log" *ngFor="let log of outputs">
            <span class="time" *ngIf="timeOutputFlag">{{log.t2}}</span>
            <span class="val"><span class="param1" *ngIf="paramsOutputFlag">[{{log.param1}}]</span>{{log.val}}</span>
          </div>
        </div>



      </div>
    </div>
  </form>
</div>









<!-- auctions -->
<div class="auctions" *ngIf="AUCTION_FLAG">
  <h1>All Auctions <span class="count">({{auctions.length}})</span></h1>

  <!-- header data -->
  <div class="arguments header">
    <div class="argument id" title="Auction ID">
      ID
    </div>
    <div class="argument partSubType">
      PartSubType
    </div>
    <div class="argument rarity">
      Rarity
    </div>
    <div class="argument">
      Address
    </div>
    <div class="argument">
      Startprice
    </div>
    <div class="argument">
      Endprice
    </div>
  </div>

  <div class="auction" *ngFor="let auction of auctions; let i = index;">


    <div class="arguments">
      <div class="argument id" title="{{i+1}}">
        #{{i+1}} §{{auction.partid}} ¢{{auction.id3}}
      </div>
      <div class="argument partSubType p{{auction.partSubType}}">
        <div class="gg"></div>
      </div>
      <div class="argument rarity r{{auction.rarity}}">
        <div class="gg"></div>
      </div>
      <div class="argument address">
        {{auction.address}}
      </div>
      <div class="argument">
        {{auction.startprice}}
      </div>
      <div class="argument">
        {{auction.endprice}}
      </div>
    </div>
  </div>
</div>
