
<!-- backtracker bar -->
<div class="backtracker_bar">
  {{contract.name}} > <b>{{abi_function.name}}</b>
</div>

<!-- titlebar -->
<div class="titlebar">
  <a (click)="goBack()" class="back_btn">
    <
  </a>
  <h1>{{abi_function.name}}</h1>
  <div class="mm_project_icon">
    <img src="{{project.img}}">
  </div>
  <div *ngIf="false" routerLink="block-explorer" class="ghost_btn grey btn">Block Explorer</div>
</div>

<!-- function output -->
<div *ngIf="abi_function.type != 'event'">
  <app-abi-detail-function
    [abi_function]="abi_function"
    [contract]="contract"
    [web3API]="web3API"
  ></app-abi-detail-function>
</div>


<!-- event output -->
<div *ngIf="abi_function.type == 'event'">
  <app-abi-detail-event
    [abi_function]="abi_function"
    [contract]="contract"
    [web3API]="web3API"
  ></app-abi-detail-event>
</div>
